<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-90680653-2');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="BootstrapDash">

    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/png" href="~/img/logo.png">
    <!-- vendor css -->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/typicons.font/typicons.css" rel="stylesheet">
    <!-- azia CSS -->
    <link rel="stylesheet" href="~/css/azia.css">
    <link rel="stylesheet" href="~/css/toastr.min.css">
</head>
<body>
    <partial name="~/Views/HeaderMenu/Index.cshtml" />
    @RenderBody()
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/ionicons/ionicons.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/jquery.twbsPagination.min.js"></script>
    <script src="~/js/js_Partial/HeaderMenu.js" asp-append-version="true"></script>
    <script src="~/js/azia.js"></script>
    <script src="~/js/Manager_Sains.js" asp-append-version="true"></script>

</body>
</html>
