@using ManagerMusic.Models
@inject LanguageService languade
@{
    ViewData["Title"] = languade.Getkey("Title_PageCity");
    Layout = "~/Views/Shared/Manager_Address/Page_City.cshtml";
}

<h1>PageCitys</h1>

